body{
    padding: 100px;
}
.bank-title{
    text-align: center;
}
.transactionTitle{
    text-align: center;
    margin-bottom: 30px;
}
.submitArea{
    margin-top: 50px;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 2px 2px 15px ;
}
#transactionArea{
    display: none;
}
.deposit{
    background-color: slateblue;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
.withdraw{
    background-color: salmon;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
.balance{
    background-color: sandybrown;
    color: white;
    padding: 20px;
    border-radius: 10px;
}